<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../static/css/adminpanel.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body style="position: relative; width: 100%; background: #E5E7EB; display: flex;">
    
    <div class="side-bar">
        <!--header section-->
        <header>
            <!--image-->
            <img src="{{ profile_image }}" alt="{{ fname }} {{ lname }}" alt="">
            <!--logo-->
            <h1>{{ fname }} {{ lname }}</h1>
        </header>

        <!--Menu items-->
        <div class="menu-2">
            <div class="item"><a href="{{ url_for('adminpanel') }}"><i class='bx bxs-dashboard' ></i>Dashboard</a></div>
            <div class="item"><a class="sub-btn"><i class='bx bx-water' ></i>Water Monitoring
                <!--dropdown-->
                <!--dropdown arrow-->
                <i class="bx bx-chevron-right dropdown1"></i>
            </a>
                <div class="sub-menu">
                    <a href="#" class="sub-item" onclick="openSaveToDatabaseModal()">Add Records</a>
                    <a href="{{ url_for('gis') }}" class="sub-item">GIS</a>
                    <!-- <a href="" class="sub-item">Barangay</a> -->
                    <a href="{{ url_for('charts') }}" class="sub-item">Charts</a>
                </div>
            </div>
            
            <div class="item"><a href="{{ url_for('result2') }}"><i class='bx bxs-megaphone'></i>Result</a></div>
            <div class="item"><a href="{{ url_for('announcements') }}"><i class='bx bxs-megaphone'></i>Announcement</a></div>
            <div class="item"><a href="{{ url_for('services') }}"><i class='bx bxs-certification'></i>Services</a></div>
            <div class="item"><a href="{{ url_for('activities') }}"><i class='bx bx-news'></i>Activities</a></div>
            <!--<div class="item"><a href="{{ url_for('gis') }}"><i class='bx bxs-map' ></i>GIS</a></div>
            <div class="item"><a href="{{ url_for('charts') }}"><i class='bx bxs-bar-chart-alt-2' ></i>Charts</a></div>
            <div class="item"><a href="{{ url_for('abouts') }}"><i class='bx bxs-info-circle' ></i>Abouts</a></div> -->
            <div class="item"><a href="{{ url_for('contacts') }}"><i class='bx bxs-phone' ></i>Contacts</a></div> 
            <div class="item"><a class="sub-btn"><i class='bx bx-cog' ></i>Settings
                <!--dropdown-->
                <!--dropdown arrow-->
                <i class="bx bx-chevron-right dropdown1"></i>
            </a>
                <div class="sub-menu">
                    {% if userType == 'admin' %}
                        <a href="{{ url_for('user') }}" class="sub-item">User Management</a>
                    {% endif %}
                    <!-- <a href="" class="sub-item">Barangay</a> -->
                    <a href="{{ url_for('logout') }}" class="sub-item">Log out</a>
                </div>
            </div>
        </div>
    </div>

 <!-- Modal -->
<div class="modal fade" id="createannouncement" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Services</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/save_service" method="POST" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="col-form-label">Title</label>
                    <input type="text" name="title" id="title" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="col-form-label">Description</label>
                    <textarea class="form-control" name="description" id="description"></textarea>
                </div>
                <div class="mb-3">
                    <label for="service-image" class="col-form-label">Upload Image</label>
                    <input type="file" name="service-image" id="service-image" class="form-control" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>
                    <i id="menu-btn" class="bx bxs-layers"></i>
                </div>
            </div>
            <div class="taal-logo">
                <i class="fa-solid fa-bell"></i>
                <img src="../static/img/bfarlogo.png" alt="">
            </div>
        </div>

        <h3 class="i-name">
            RESULT
        </h3>
    
        <div style = "padding: 30px;">
            <div class="container-fluid" style="border: solid 2px #0f8000; border-radius:10px; font-size: 15px;">
                <div class ='row'>
                   <!-- <div class ='col-md-4'>        
                        <h2>Ensemble Model</h2>
                        <p>Accuracy after Cross-validation: {{ accuracy_after_cv }}</p>
                        <p>Accuracy: {{ em_accuracy }}</p>
                        <p>Classification Report:</p>
                        <pre>{{ em_cr }}</pre>
                    
                        
                
                    </div>-->
                   
                    <div class = 'col-md-6 border border-success'>
                        <h2 class="p-3 text-center">RandomForest Bagging</h2>
                        <p>Cross-validation score: {{ bagging_score_mean }}</p>
                        <p>Accuracy: {{ acc_bagging }}</p>
                        <p>Classification Report:</p>
                        <pre>{{ cr_bagging }}</pre>
                    </div>
                    <div class ='col-md-6 border border-success'>                                  
                        <h2 class="p-3 text-center">Support Vector Machine Model</h2>
                        <p>Best Estimator: {{ best_svm_est }}</p>
                        <p>Best SVM score: {{ best_svm_score }}</p>
                        <p>Cross-validation score: {{ svm_score_mean }}</p>
                        <p>Accuracy: {{ acc_svm }}</p>
                        <p>Classification Report:</p>
                        <pre>{{ cr_svm}}</pre>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 border border-success">
                        <h2 class="p-3 text-center">Random Forest</h2>
                        <p>Best Estimator: {{ best_rf_estimator }}</p>
                        <p>Best RF score: {{ best_rf_score }}</p>
                        <p>Cross-validation score: {{ rf_score_mean }}</p>
                        <p>Accuracy: {{ acc_rf }}</p>
                        <p>Classification Report:</p>
                        <pre>{{ cr_rf }}</pre>
                    </div>
                    <!--<div class="col-md-6 border border-success">
                        <h2 class="p-3 text-center">Decision Tree Model</h2>
                        <p>Accuracy: {{ acc_dt }}</p>
                        <p>Classification Report:</p>
                        <pre>{{ cr_dt }}</pre>
                    </div>-->
                    <div class="col-md-6 border border-success">
                        <h2 class="p-3 text-center">Decision Tree</h2>
                        <p>Best Estimator: {{ dt_bestest }}</p>
                        <p>Best RF score: {{ dt_bestscore }}</p>
                        <p>Cross-validation score: {{ dt_score_mean }}</p>
                        <p>Accuracy: {{ acc_dt }}</p>
                        <p>Classification Report:</p>
                        <pre>{{ cr_dt }}</pre>
                    </div>
                </div>
            </div>

    </section>

 


<!-- MODAL FOR SAVING -->
<div class="modal fade" id="save_to_database" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document" >
    <div class="modal-content" style="width: 1100px" >
        <div id="alertMessage"></div>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Physical and Chemical Parameter</h5>

        </div>
        <form action="/save_to_database" method="POST">

            <div class="modal-body" >

                <div class="row">
                    <div class="col-md-6">
                        <label class="w-100 m-0 font-weight-bold"
                            style="color: #00889E; font-size: 17px;">Select ID:</label>
                        <select name="station_id" class="w-100" style="height: 40px; border-radius: 7px;"
                            data-live-search="true">
                            <option value="-1">Select a ID</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label class="w-100 m-0 font-weight-bold"
                            style="color: #00889E; font-size: 17px;">Select Station Name:</label>
                        <select name="station_name" class="w-100" style="height: 40px; border-radius: 7px;"
                            data-live-search="true">
                            <option value="-1">Select a Station</option>
                           
                            <option value="Tanauan">Tanauan</option>
                            <option value="Nangkaan">Nangkaan</option>
                            <option value="Bañaga">Bañaga</option>
                            <option value="Manalaw">Manalaw</option>
                            <option value="Leviste">Leviste</option>
                            <option value="Buso Buso">Buso Buso</option>
                            <option value="Quiling">Quiling</option>
                            <option value="Sampaloc">Sampaloc</option>
                            <option value="San Isidro">San Isidro</option>
                        </select>
                    </div>
                </div>

                <span style="margin: 0 20px;"></span> <!-- Add a space between the dropdowns -->

                <div class="row">
                    <div class="col-md-6">
                        <label class="w-100 m-0 font-weight-bold"
                            style="color: #00889E; font-size: 17px;">Select Month:</label>
                        <select name="month" class="w-100" style="height: 40px; border-radius: 7px;"
                            data-live-search="true">
                            <option value="">Select a month</option>
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label class="w-100 m-0 font-weight-bold"
                            style="color: #00889E; font-size: 17px;">Select Year:</label>
                        <select name="year" class="w-100" style="height: 40px; border-radius: 7px;"
                            data-live-search="true">
                            <option value="">Select a year</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <!-- Add more options for the years you want to include -->
                        </select>
                    </div>
                </div>

                <span style="margin: 0 20px;"></span> <!-- Add a space between the dropdowns -->

                <div class="row">
                    <!-- <div class="col-md-4">
                        <div class="input-group mb-3">
                            <label class="w-100 m-0 font-weight-bold"
                                style="color: #00889E; font-size: 17px;">BOD</label>
                            <input name="BOD" type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div> -->
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <label class="w-100 m-0 font-weight-bold"
                                style="color: #00889E; font-size: 17px;">DO</label>
                            <input name="do" type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <label class="w-100 m-0 font-weight-bold"
                                style="color: #00889E; font-size: 17px;">pH</label>
                            <input name="ph" type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <label class="w-100 m-0 font-weight-bold"
                                style="color: #00889E; font-size: 17px;">Phosphate</label>
                            <input name="phosphate" type="text" class="form-control"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <label class="w-100 m-0 font-weight-bold"
                                style="color: #00889E; font-size: 17px;">Ammonia</label>
                            <input name="ammonia" type="text" class="form-control"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <label class="w-100 m-0 font-weight-bold"
                                style="color: #00889E; font-size: 17px;">Nitrate</label>
                            <input name="nitrate" type="text" class="form-control"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>
                <div><h2>Physical Parameters</h2></div>
                <div class="row">
                    <div class = "col-md-3">
                        <div class="input-group mb-3">
                            <label class="w-100 m-0 font-weight-bold"
                                style="color: #00889E; font-size: 17px;">Time:</label>
                            <input name="time" type="time" class="form-control"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>

                    <div class = "col-md-3">
                        <div class="input-group mb-3">
                            <label class="w-100 m-0 font-weight-bold"
                                style="color: #00889E; font-size: 17px;">Weather Condition:</label>
                            <input name="weater-condition" type="text" class="form-control"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="w-100 m-0 font-weight-bold"
                            style="color: #00889E; font-size: 17px;">Wind Direction:</label>
                        <select name="wind-direction" class="w-100" style="height: 40px; border-radius: 7px;"
                            data-live-search="true">
                            <option value="-1">Wind Direction </option>
                            <option value="NE">NE</option>
                            <option value="ENE">ENE</option>
                            <option value="E">E</option>
                            <option value="WSW">WSW</option>
                            <option value="SW">SW</option>
                            <option value="SE">SE</option>
                        </select>
                    </div>

                    <div class = "col-md-3">
                        <div class="input-group mb-3">
                            <label class="w-100 m-0 font-weight-bold"
                                style="color: #00889E; font-size: 17px;">Color of Water:</label>
                            <input name="color-of-water" type="text" class="form-control"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <label class="w-100 m-0 font-weight-bold"
                                style="color: #00889E; font-size: 17px;">Air Temperature (0C)</label>
                            <input name="air-temperature" type="number" class="form-control"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <label class="w-100 m-0 font-weight-bold"
                                style="color: #00889E; font-size: 17px;">Water Transparency (m)</label>
                            <input name="water-transparency" type="number" class="form-control"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <label class="w-100 m-0 font-weight-bold"
                                style="color: #00889E; font-size: 17px;">Water Temperature (0C)</label>
                            <input name="water-temp" type="number" class="form-control"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save Data</button>
            </div>
        </form>
    </div>
</div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
            function openSaveToDatabaseModal() {
                var myModal = new bootstrap.Modal(document.getElementById('save_to_database'));
                myModal.show();
            }
        </script>
    <script>
        $(document).ready(function () {
            $('.sub-btn').click(function () {
                $(this).next('.sub-menu').slideToggle();
                $(this).find('.dropdown').toggleClass('rotate');
            });
        })
    </script>

    <script>
        var dataArray = JSON.parse('{{ user_data|safe }}');
        console.log('{{ user_data|safe }}'); // Log the user_data variable
        function populateDataTable(dataArray) {
            const dataTable = document.getElementById('userTable');
            dataTable.innerHTML = '';

            var headerRow = '<table style="width: 100%; border-collapse: collapse;">'
            headerRow += '<thead class="text-white" style="font-weight: 800; text-transform: uppercase; padding: 10px">';
            headerRow += '<tr>';
            headerRow += '<td>ID</td><td>Title</td><td>Description</td><td>Status</td><td>Image</td><td>Action</td>';
            headerRow += '</tr>';
            headerRow += '</thead>';
            dataTable.innerHTML += headerRow;

            dataArray.forEach(function (item) {
                var row = '<tr>';
                row += '<td>' + item['id'] + '</td>';
                row += '<td>' + item['title'] + '</td>';
                row += '<td>' + item['description'] + '</td>';
                row += '<td>' + item['status'] + '</td>';
                row += '<td>' + item['service_image'] + '</td>';
                // Add a button in the new <td> element
                //row += '<td></td>'
                row += '<td><button onclick="handleButtonClick(' + item['id'] + ')" class="btn btn-primary">Edit</button>';



                // Add more columns as needed
                dataTable.innerHTML += row;
            });
        }

       // Call the populateDataTable function passing the dataArray
    populateDataTable(dataArray);


   
    </script>


</body>

</html>